// Colors from 
// https://coolors.co/363020-bb6e11-f3a32b-f5db66-f8efb4-0d2a30-19535f-767b91-999dad

$bg1: #363020;
$bg2: #BB6E11;
$bg3: #F3A32B;
$bg4: #F5DB66;
$bg5: #F8EFB4;
$bg6: #FDFBEC;

$primary1: #0D2A30;
$primary2: #19535F;

$secondary1: #767B91;
$secondary2: #999DAD;

$light1: #FFFFFF;
$light2: #E8E9ED;