@use "../../styles/colors.scss" as colors;

.layout-container {
  width: 100%;
  height: 100%;
  .layout-header {
    background-color: colors.$bg1;
    color: colors.$light1;

    h1 {
      color: colors.$light1;
      padding-right: 16px;
    }

    .layout-navbar {
      background-color: colors.$bg1;

      .ant-menu-item {
        background-color: colors.$bg1;

        &.ant-menu-item-selected {
          background-color: colors.$bg2;
        }
        
        &:hover {
          background-color: colors.$bg3;
        }
      }
    }

    .layout-logout-btn {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .layout-content {
    background-color: colors.$bg5;

    .layout-content-container {
      margin: 24px;
      padding: 12px;
      max-width: calc(100% - 48px);
      background: colors.$bg6;
    }
  }
}