@use "../../styles/colors.scss" as colors;

.leagues-container{
  .league-details {
    .queen-row-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .league-new{
    .ant-avatar {
      padding-top: 25%;
      cursor: pointer;

      &.user-icon {
        background-color: colors.$secondary2;
      }
      
      &.admin-icon {
        background-color: colors.$secondary1;
      }
      
      &.creator-icon {
        background-color: colors.$bg3;
      }
    }
  }

  .league-admin {
    .league-name-display {
      font-style: italic;
    }
  }
}