.rule-display {
  min-width: fit-content;
  display: flex;
  justify-content: space-between;

  span:first-child {
    max-width: 90%;
    overflow: clip;
    text-overflow: ellipsis;
  }
}

.rule-display,.rule-col {
  &.good {
    color: #0A0;
  }

  &.bad {
    color: #A00;
  }
}